@import url('https://fonts.googleapis.com/css2?family=Abel&family=Assistant:wght@200&family=Corinthia:wght@700&family=Cormorant+Garamond:wght@300&family=Kalam:wght@300&family=Oswald:wght@200&family=Poppins&family=Tajawal:wght@200;300;400&display=swap');


* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins';
}

.light {
    background-color: rgb(43, 24, 65);
    height: 100vh;
    width: 100%;
}

.merge {
    margin-bottom: 2rem;
    padding-top: 2rem;
}

